nameOverride: ""
fullnameOverride: ""

imagePullSecrets: []

apiGateway:
  replicaCount: 2
  image:
    repository: ghcr.io/mchenetz/splai-api-gateway
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8080
  env:
    SPLAI_STORE: postgres
    SPLAI_QUEUE: redis
    SPLAI_LEASE_SECONDS: "15"
    SPLAI_POSTGRES_DSN: ""
    SPLAI_REDIS_ADDR: ""

scheduler:
  enabled: true
  replicaCount: 1
  service:
    type: ClusterIP
    port: 8082
  image:
    repository: ghcr.io/mchenetz/splai-scheduler
    tag: latest
    pullPolicy: IfNotPresent

planner:
  enabled: true
  replicaCount: 1
  service:
    type: ClusterIP
    port: 8081
  image:
    repository: ghcr.io/mchenetz/splai-planner
    tag: latest
    pullPolicy: IfNotPresent

worker:
  enabled: true
  image:
    repository: ghcr.io/mchenetz/splai-worker-agent
    tag: latest
    pullPolicy: IfNotPresent
  extraEnv: []
  artifactRoot: /var/lib/splai/artifacts
  volume:
    type: emptyDir
    hostPath: /var/lib/splai/artifacts
    ephemeralPVC:
      size: 20Gi
      accessModes:
        - ReadWriteOnce
      storageClassName: ""
  maxParallelTasks: "2"
  heartbeatSeconds: "5"
  pollMillis: "1500"

postgres:
  enabled: true
  flavor: openshift
  dataMountPath: /var/lib/pgsql/data
  image:
    repository: quay.io/sclorg/postgresql-16-c9s
    tag: latest
    pullPolicy: IfNotPresent
  auth:
    username: splai
    password: splai
    database: splai
  persistence:
    enabled: false
    size: 10Gi
    accessModes:
      - ReadWriteOnce
    storageClassName: ""

redis:
  enabled: true
  image:
    repository: redis
    tag: "7"
    pullPolicy: IfNotPresent
  dataMountPath: /data
  securityContextProfile: auto
  podSecurityContext:
    fsGroup: 1001
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile:
      type: RuntimeDefault
  openshiftPodSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  volume:
    type: emptyDir
    size: 8Gi
    accessModes:
      - ReadWriteOnce
    storageClassName: ""

minio:
  enabled: false
  image:
    repository: minio/minio
    tag: RELEASE.2025-01-20T14-49-07Z
    pullPolicy: IfNotPresent
  rootUser: splai
  rootPassword: splaiminio
  bucket: splai-artifacts
